.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #000000;
    line-height: 0;
    height: 80px;
}

.header__top {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 70%;
    padding: 20px 0;
}

.search{
    display: flex;
    align-items: center;
}

.header__logo img {
    max-width: 370px;
    height: auto;
}

.search__form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.search__form-input{
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-right: 2px;
}

.search__button{
    font-size: 10px;
    padding: 2px 5px;
    background-color: #FFFFFF;
    border-radius: 3px;
    min-width: 50px;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav__button {
    min-width: 80px;
}

.logout__button{
    color: white;
    background-color: #000000;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.mypage__button{
    color: white;
    background-color: #000000;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.sell__button{
    font-size: 20px;
    padding: 5px 10px;
    background-color: #FFFFFF;
    border-radius: 7px;
    cursor: pointer;
}

.sell__button:hover {
    background-color: #0056b3;
}

@media (max-width: 1250px) {
    .header {
        display: flex;
        flex-direction: column;
        padding:0 20px;
        height: 110px;
        gap: 0;
        line-height: 0;
    }

    .header__top {
        width: 100%;
        padding: 0;
    }

    .header__logo img {
        max-width: 200px;
    }

    .search__form {
        justify-content: flex-end;
        margin-left: -50px;
    }

    .search__form-input {
        width: 70%;
        margin-right: 2px;
        height: 25px;
    }

    .header__bottom{
        margin-bottom: 15px;
    }

    .logout__button {
        font-size: 15px;
    }

    .mypage__button {
        font-size: 15px;
    }

    .sell__button{
        font-size: 15px;
    }

    nav{
        gap: 100px;
    }
}


@media (max-width: 759px) {
    .header__top {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }

    .header__ttl{
        padding: 0;
    }

    .header__logo img {
        max-width: 150px;
        height: auto;
    }

    .search{
        margin-top: -10px;
    }

    .search__form{
        justify-content: center;
    }

    .search__form-input {
        width: 60%;
        margin-right: 2px;
        height: 20px;
    }

    .logout__button {
        font-size: 12px;
    }

    .mypage__button {
        font-size: 12px;
    }

    .sell__button {
        font-size: 12px;
        padding: 3px 5px;
    }
}