.transaction__content{
    display: flex;
    min-height: 100vh;
}

.transaction__sidbar{
    width: 20%;
    background-color: #868686;
}

.transaction__sidbar h2 {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}

.another__transaction{
    background-color: #EEEFEB;
    font-size: 24px;
    color: black;
    text-align: center;
    border-radius: 5px;
}

.another__transaction-link{
    display: block;
    text-decoration: none;
    margin: 0 auto;
    max-width: 200px;
}

.transaction__inner{
    width: 80%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.transaction__top{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    border-bottom: 2px #5f5f5f solid;
    padding: 10px 30px;
}
.profile__image-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.profile__image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.transaction__but{
    background-color: #FF8282;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 20px;
    padding: 10px;
    border: #FF8282 solid 1px;
    text-decoration: none;
    cursor: pointer;
}

.completed{
    background-color: #a0a0a0;
    border: #a0a0a0 solid 1px;
}

.transaction_product{
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 2px #5f5f5f solid;
    gap: 30px;
}
.transaction__name{
    font-size: 48px;
    font-weight: bold;
}

.transaction__price{
    font-size: 30px;
}

.transaction__chat{
    width: 100%;
    padding: 10px 30px;
}

.chat__item{
    margin-bottom: 20px;
}

.chat__item.active {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.chat__content{
    width: 100%;
}

.chat__content.active {
    text-align: right;
}

.chat__profile{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.chat__profile.active{
    flex-direction: row-reverse;
}

.img__file {
    height: 200px;
    width: 200px;
}


.chat__profile-image{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}


.chat__image {
    width: 40%;
    height: auto;
    margin-bottom: 10px;
}

.chat__edit-textarea{
    width: 40%;
    resize: none;
    background-color: #02f702;
    border-radius: 10px;
    padding: 5px;
    border:#02f702 1px solid ;
}

.edit__chat-button,.delete__chat-button{
    color: #5f5f5f;
    font-size: 15px;
    border: none;
    background-color: #ffffff;
    text-shadow: 2px 2px 2px #c2bebe;
    cursor: pointer;
}

.send__chat {
    margin-top: auto;
    margin: 50px 30px;
}

.chat__form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.image__text {
    background-color: white;
    color: #ff5555;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 20px;
    border: 1px solid #ff5555;
}

.image__input {
    display: none;
}

.send__chat-input{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
}

.send-chat__image{
    height: 80px;
    width: 80px;
}

.send__chat--contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.send__chat--contents-image{
    display: flex;
    align-items: center;
    gap: 40px;
}

.send__chat-button{
    background-color: #ffffff;
    border: solid 1px #ffffff;
    cursor: pointer;
}

.send__chat-button img{
    width: 60px;
    height: auto;
}

.error {
    color: red;
    font-size: 16px;
    margin-top: 5px;
}

/* モーダル */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.modal:target{
    visibility: visible;
    opacity: 1;
}

.modal-overlay{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    border: 1px solid #000000;
    background-color: #fdfce6;
    box-shadow: 4px 4px 4px rgba(139, 121, 105, 0.25);
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 20px;
}

/* モダールの中身 */
.modal__ttl {
    display: flex;
    align-items: center;
    height: 45px;
    border-bottom: 1px #000000 solid;
}

.modal__ttl h3{
    font-size: 35px;
}

.modal__value--ttl{
    font-size: 20px;
    color: #868686;
}

.modal__value{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    direction: rtl;
    border-bottom: 1px #000000 solid;
}

.modal__value input[type="radio"]{
    display: none;
}

.modal__value label{
    font-size: 50px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.modal__value input[type="radio"]:checked~label {
    color: gold;
}

.modal__value label:hover,
.modal__value label:hover~label {
    color: gold;
}

.modal__btn--parent{
    text-align: right;
}

.modal__btn{
    background-color:#FF8282 ;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid #FF8282;
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
}

@media (max-width: 900px) {
    .transaction__sidbar h2 {
        font-size: 20px;
    }

    .another__transaction {
        font-size: 18px;
    }
}
